html {
    overflow-y: scroll;
}

body {
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    max-width: 800px;
    width: 90%;
}

h1 { font-size: 1.3em; }

nav {
    border-bottom: #d4d4c9 dashed 2px;
    font-weight: bold;
    padding-bottom: 25px;
}

a { color: #d4d4c9; }

a:hover { color: white; }

footer {
    border-top: #d4d4c9 dashed 2px;
    margin-top: 25px;
}

article code {
    background-color: #404040;
    display: block;
    overflow: auto;
    padding: 10px;
}