/*
 * invokecommand.net
 */

/*html {
  font-family: Helvetica, Arial, sans-serif;
}
a:hover,
a:focus {
    border-bottom: solid 2px;
    display: inline;
    padding-bottom: 0px;
    text-decoration: none;
}

a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: none;
}
.sidebar-about h1 {
  font-family: Helvetica, Arial, sans-serif;
}
*/